<!DOCTYPE html>
<html>
<head>
	<title>EJERCITO</title>
</head>
<body>
	<center>
		<h1>MUJERES EN EL EJERCITO</h1>

	</center>
	<SECTION>
		<CENTER>
			<ARTICLE>
				ES UN ORGULLO TENER UNA MUJER EN LAS FUERZAS,<BR>INCORPORATE EN LA ESMIC PUEDES SER UNA SUBTENIENTE<BR> DEL GORIOSOS EJERCITO.<br>
				LA VIDA NO ES FACIL PRINCESA HA LLEGADO LA HORA<BER> DE QUITARSE LA CORANA Y PONERSER LA ARMADURA.
			</ARTICLE>
		</CENTER>
		<style type="text/css">
			body{
				background-image:url(https://i.ytimg.com/vi/agtZveE09H4/maxresdefault.jpg);
			}
			section{
			font-size:20px;
			color:#ffffff;	
		}
		h1{
			color:#BC8F8F;
		}
		

		</style>

		
	</SECTION>
</body>
</html>
